nav {
    display: flex; justify-content:flex-end; flex-direction:row; align-content:space-between;
}
#test1 {
    align-self: flex-start;
}
#position {
    display: block; flex-direction: column; align-content: center;
}